/* line 39, ../src/main.sass */
body {
  color: #41444a;
  margin: 0;
  font-family: Futura, Molengo, sans-serif;
  background: #efeff4;
}
/* line 44, ../src/main.sass */
body hr {
  clear: both;
  color: #b4b8c5;
  background: #b4b8c5;
  border: none;
  border-bottom: 1px solid #efeff4;
  width: 300px;
  margin: 2em auto;
}
/* line 52, ../src/main.sass */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #60646c;
  font-weight: bold;
  letter-spacing: -0.05em;
}
/* line 56, ../src/main.sass */
body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
  color: #9ca1ad;
}
/* line 58, ../src/main.sass */
body h1 a:visited, body h2 a:visited, body h3 a:visited, body h4 a:visited, body h5 a:visited, body h6 a:visited {
  color: #9ca1ad;
}
/* line 60, ../src/main.sass */
body h1 a:hover, body h1 a:active, body h2 a:hover, body h2 a:active, body h3 a:hover, body h3 a:active, body h4 a:hover, body h4 a:active, body h5 a:hover, body h5 a:active, body h6 a:hover, body h6 a:active {
  color: #4269a7;
}
/* line 62, ../src/main.sass */
body a {
  text-decoration: none;
  color: #60646c;
}
/* line 65, ../src/main.sass */
body a:visited {
  color: #60646c;
}
/* line 67, ../src/main.sass */
body a:hover, body a:active {
  color: #4269a7;
}

/* line 72, ../src/main.sass */
* {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 75, ../src/main.sass */
hgroup#maintitle {
  margin: 1em 0;
  font-size: 2em;
  border-top: solid 1px black;
  border-bottom: solid 1px white;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60646c), color-stop(100%, #51555c));
  background-image: -webkit-linear-gradient(top, #60646c, #51555c);
  background-image: -moz-linear-gradient(top, #60646c, #51555c);
  background-image: -o-linear-gradient(top, #60646c, #51555c);
  background-image: -ms-linear-gradient(top, #60646c, #51555c);
  background-image: linear-gradient(top, #60646c, #51555c);
}
/* line 78, ../src/main.sass */
hgroup#maintitle h1, hgroup#maintitle h2 {
  margin: 0.3em;
}
/* line 80, ../src/main.sass */
hgroup#maintitle h1, hgroup#maintitle h1 a, hgroup#maintitle h2, hgroup#maintitle h2 a {
  font-weight: normal;
  color: #0f1011;
  text-shadow: 0 0 2px rgba(239, 239, 244, 0.5);
}
/* line 84, ../src/main.sass */
hgroup#maintitle h1 a:hover, hgroup#maintitle h2 a:hover {
  color: #002255;
}
/* line 86, ../src/main.sass */
hgroup#maintitle h2 {
  font-size: 0.8em;
}

/* line 95, ../src/main.sass */
hgroup#maintitle {
  width: 920px;
  border: 0px;
  margin: 10px;
  padding: 10px;
  float: left;
  display: block;
}

/* line 98, ../src/main.sass */
footer {
  font-size: 0.8em;
}

/* line 102, ../src/main.sass */
#container > footer {
  padding: 3em 0;
  color: #0f1011;
  text-shadow: 0 0 2px rgba(239, 239, 244, 0.5);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60646c), color-stop(100%, #51555c));
  background-image: -webkit-linear-gradient(top, #60646c, #51555c);
  background-image: -moz-linear-gradient(top, #60646c, #51555c);
  background-image: -o-linear-gradient(top, #60646c, #51555c);
  background-image: -ms-linear-gradient(top, #60646c, #51555c);
  background-image: linear-gradient(top, #60646c, #51555c);
}
/* line 103, ../src/main.sass */
#container > footer * {
  width: 960px;
  margin: 0 auto;
}
/* line 106, ../src/main.sass */
#container > footer a {
  color: #1f2024;
}
/* line 108, ../src/main.sass */
#container > footer a:hover {
  color: #002255;
}

/* line 122, ../src/main.sass */
.clickable {
  cursor: pointer;
}

/* line 126, ../src/main.sass */
#container {
  width: span(24);
  margin: 0 auto;
}

/* line 131, ../src/main.sass */
a {
  text-decoration: none;
}

/* line 134, ../src/main.sass */
h1, h2 {
  text-align: center;
}

/* line 144, ../src/main.sass */
.block {
  background-color: #e3e5ed;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 141, ../src/main.sass */
.block > * {
  margin: 20px;
}
/* line 146, ../src/main.sass */
.block:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 149, ../src/main.sass */
.inner {
  width: 960px;
  margin: 0 auto;
}

/* line 194, ../src/main.sass */
#prelinks {
  width: 960px;
  margin: 0.5em auto;
  height: 1em;
}

/* line 200, ../src/main.sass */
#choixlang {
  float: left;
  font-size: 14px;
}
/* line 155, ../src/main.sass */
#choixlang a:hover {
  color: #efeff4;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}
/* line 159, ../src/main.sass */
#choixlang a:active {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black;
}
/* line 162, ../src/main.sass */
#choixlang a {
  color: #9ca1ad;
}
/* line 164, ../src/main.sass */
#choixlang a, #choixlang span {
  padding: 0.2em;
  -moz-border-radius: 2ex;
  -webkit-border-radius: 2ex;
  -o-border-radius: 2ex;
  -ms-border-radius: 2ex;
  -khtml-border-radius: 2ex;
  border-radius: 2ex;
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* line 170, ../src/main.sass */
#choixlang a:hover, #choixlang span:hover {
  color: #efeff4;
}
/* line 172, ../src/main.sass */
#choixlang span {
  color: #efeff4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}

/* line 204, ../src/main.sass */
#choixrss {
  float: right;
  font-size: 14px;
}
/* line 155, ../src/main.sass */
#choixrss a:hover {
  color: #efeff4;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}
/* line 159, ../src/main.sass */
#choixrss a:active {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black;
}
/* line 162, ../src/main.sass */
#choixrss a {
  color: #9ca1ad;
}
/* line 164, ../src/main.sass */
#choixrss a, #choixrss span {
  padding: 0.2em;
  -moz-border-radius: 2ex;
  -webkit-border-radius: 2ex;
  -o-border-radius: 2ex;
  -ms-border-radius: 2ex;
  -khtml-border-radius: 2ex;
  border-radius: 2ex;
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* line 170, ../src/main.sass */
#choixrss a:hover, #choixrss span:hover {
  color: #efeff4;
}
/* line 172, ../src/main.sass */
#choixrss span {
  color: #efeff4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}

/* line 209, ../src/main.sass */
#mainnav {
  width: 600px;
  padding: 0;
  margin: 0 auto;
}
/* line 213, ../src/main.sass */
#mainnav ul {
  padding: 0;
  list-style-type: none;
}
/* line 216, ../src/main.sass */
#mainnav ul li {
  text-align: center;
  float: left;
  width: 144px;
  margin: 0 3px;
  font-size: 14px;
}
/* line 155, ../src/main.sass */
#mainnav ul li a:hover {
  color: #efeff4;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}
/* line 159, ../src/main.sass */
#mainnav ul li a:active {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black;
}
/* line 162, ../src/main.sass */
#mainnav ul li a {
  color: #9ca1ad;
}
/* line 164, ../src/main.sass */
#mainnav ul li a, #mainnav ul li span {
  padding: 0.2em;
  -moz-border-radius: 2ex;
  -webkit-border-radius: 2ex;
  -o-border-radius: 2ex;
  -ms-border-radius: 2ex;
  -khtml-border-radius: 2ex;
  border-radius: 2ex;
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* line 170, ../src/main.sass */
#mainnav ul li a:hover, #mainnav ul li span:hover {
  color: #efeff4;
}
/* line 172, ../src/main.sass */
#mainnav ul li span {
  color: #efeff4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}
/* line 222, ../src/main.sass */
#mainnav ul li * {
  font-size: 1em;
}

/* line 226, ../src/main.sass */
.flush {
  clear: both !important;
}

/* line 229, ../src/main.sass */
.clean {
  background: none;
  border: none;
  margin: none;
}

/* line 234, ../src/main.sass */
#main {
  width: 960px;
  margin: 0 auto;
}

/* line 238, ../src/main.sass */
body.std #main > article, .slideshow {
  padding: 3em;
  margin: 3em 0;
  background-color: #e3e5ed;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 141, ../src/main.sass */
body.std #main > article > *, .slideshow > * {
  margin: 20px;
}

/* line 243, ../src/main.sass */
.slideshow {
  color: #60646c;
  font-size: 1.2em;
}
/* line 246, ../src/main.sass */
.slideshow h3 {
  font-size: 2em;
  color: #9ca1ad;
  text-shadow: 0 0 3px white;
  margin-bottom: 2em;
}

/* line 252, ../src/main.sass */
.center {
  margin: 0 auto;
  text-align: center;
}

/* line 256, ../src/main.sass */
.leftimage {
  float: left;
}

/* line 258, ../src/main.sass */
.rightimage {
  float: right;
}

/* line 261, ../src/main.sass */
img.left {
  float: left;
  padding: 10px;
  max-width: 10em;
  background-color: #e3e5ed;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 0 2em;
  background: #efeff4;
}
/* line 141, ../src/main.sass */
img.left > * {
  margin: 20px;
}

/* line 269, ../src/main.sass */
ul.article_metadata {
  list-style-type: none;
  text-align: right;
  color: #b4b8c5;
}
/* line 273, ../src/main.sass */
ul.article_metadata a {
  color: #9ca1ad;
}
/* line 275, ../src/main.sass */
ul.article_metadata a:hover {
  color: #315896;
}

/* line 278, ../src/main.sass */
#tagcloud {
  background: #efeff4;
  background-color: #e3e5ed;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
  width: 600px;
  margin: 1em auto;
}
/* line 141, ../src/main.sass */
#tagcloud > * {
  margin: 20px;
}
/* line 284, ../src/main.sass */
#tagcloud a:hover {
  cursor: pointer;
}

/* line 287, ../src/main.sass */
#elementblock {
  width: 600px;
  margin: 0 auto 4em auto;
}
/* line 290, ../src/main.sass */
#elementblock ul.menu {
  background-color: #efeff4;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 2.3ex;
  -webkit-border-radius: 2.3ex;
  -o-border-radius: 2.3ex;
  -ms-border-radius: 2.3ex;
  -khtml-border-radius: 2.3ex;
  border-radius: 2.3ex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
/* line 297, ../src/main.sass */
#elementblock ul.menu li {
  display: inline-block;
  text-align: center;
  width: 150px;
  margin: 0 23.077px;
  font-size: 14px;
}
/* line 155, ../src/main.sass */
#elementblock ul.menu li a:hover {
  color: #efeff4;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}
/* line 159, ../src/main.sass */
#elementblock ul.menu li a:active {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black;
}
/* line 162, ../src/main.sass */
#elementblock ul.menu li a {
  color: #9ca1ad;
}
/* line 164, ../src/main.sass */
#elementblock ul.menu li a, #elementblock ul.menu li span {
  padding: 0.2em;
  -moz-border-radius: 2ex;
  -webkit-border-radius: 2ex;
  -o-border-radius: 2ex;
  -ms-border-radius: 2ex;
  -khtml-border-radius: 2ex;
  border-radius: 2ex;
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* line 170, ../src/main.sass */
#elementblock ul.menu li a:hover, #elementblock ul.menu li span:hover {
  color: #efeff4;
}
/* line 172, ../src/main.sass */
#elementblock ul.menu li span {
  color: #efeff4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}

/* line 304, ../src/main.sass */
#related_articles {
  width: 960px;
  margin: 3em auto;
}
/* line 307, ../src/main.sass */
#related_articles #previous_articles {
  float: left;
  width: 40%;
}
/* line 310, ../src/main.sass */
#related_articles #next_articles {
  float: right;
  text-align: right;
  width: 40%;
}

/* line 315, ../src/main.sass */
.date {
  font-size: 0.8em;
  line-height: 2em;
  float: left;
  color: #9ca1ad;
  margin-right: 1em;
}

/* line 322, ../src/main.sass */
article article, .archive {
  background-color: #e3e5ed;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #efeff4;
  padding: 1em;
}
/* line 141, ../src/main.sass */
article article > *, .archive > * {
  margin: 20px;
}
/* line 326, ../src/main.sass */
article article .content, .archive .content {
  width: 600px;
  margin: 0 auto;
}

/* line 330, ../src/main.sass */
#hiddenDivs {
  width: 600px;
  margin: 1em auto;
  background-color: #e3e5ed;
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #efeff4;
  padding: 1em;
}
/* line 141, ../src/main.sass */
#hiddenDivs > * {
  margin: 20px;
}

/* line 338, ../src/main.sass */
.archive .button {
  font-size: 14px;
  width: 5em;
}
/* line 155, ../src/main.sass */
.archive .button a:hover {
  color: #efeff4;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}
/* line 159, ../src/main.sass */
.archive .button a:active {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black;
}
/* line 162, ../src/main.sass */
.archive .button a {
  color: #9ca1ad;
}
/* line 164, ../src/main.sass */
.archive .button a, .archive .button span {
  padding: 0.2em;
  -moz-border-radius: 2ex;
  -webkit-border-radius: 2ex;
  -o-border-radius: 2ex;
  -ms-border-radius: 2ex;
  -khtml-border-radius: 2ex;
  border-radius: 2ex;
  text-align: center;
  width: 100%;
  display: inline-block;
}
/* line 170, ../src/main.sass */
.archive .button a:hover, .archive .button span:hover {
  color: #efeff4;
}
/* line 172, ../src/main.sass */
.archive .button span {
  color: #efeff4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset, rgba(255, 255, 255, 0.3) 0 1px 3px inset;
}

/* line 342, ../src/main.sass */
.return {
  float: right;
  opacity: 0.3;
}
/* line 345, ../src/main.sass */
.return:hover {
  opacity: 1;
}

/* line 348, ../src/main.sass */
.big {
  font-size: 1.2em;
}

/* line 351, ../src/main.sass */
body.support #main > article {
  width: 600px;
  margin: 3em auto;
  font-size: 1.2em;
}
/* line 355, ../src/main.sass */
body.support #main > article form {
  margin: 1em;
}

/* line 358, ../src/main.sass */
#helloblock {
  color: #b4b8c5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60646c), color-stop(100%, #51555c));
  background-image: -webkit-linear-gradient(top, #60646c, #51555c);
  background-image: -moz-linear-gradient(top, #60646c, #51555c);
  background-image: -o-linear-gradient(top, #60646c, #51555c);
  background-image: -ms-linear-gradient(top, #60646c, #51555c);
  background-image: linear-gradient(top, #60646c, #51555c);
}
/* line 365, ../src/main.sass */
#helloblock #logo {
  float: left;
  margin-right: 40px;
}
/* line 368, ../src/main.sass */
#helloblock #blocktitle {
  font-size: 1.6em;
  font-weight: normal;
}
/* line 371, ../src/main.sass */
#helloblock #blocktext {
  margin: 32px 0;
}
/* line 373, ../src/main.sass */
#helloblock #getit {
  float: right;
}

/* line 376, ../src/main.sass */
iframe {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 382, ../src/main.sass */
input[type=text], textarea {
  display: block;
  width: 28em;
  font-size: 0.9em;
  -moz-box-shadow: #868b96 0 0 3px inset, #efeff4 0 0 3px;
  -webkit-box-shadow: #868b96 0 0 3px inset, #efeff4 0 0 3px;
  -o-box-shadow: #868b96 0 0 3px inset, #efeff4 0 0 3px;
  box-shadow: #868b96 0 0 3px inset, #efeff4 0 0 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #868b96;
  color: #60646c;
  background: #efeff4;
  padding: 1ex;
  margin: 1em 0;
}

/* line 393, ../src/main.sass */
textarea {
  height: 17.305em;
}

/* line 396, ../src/main.sass */
input[type=submit], .bluebutton {
  display: block;
  text-align: center;
  font-size: 0.9em;
  padding: 1ex 3ex;
  margin: 0.5em 0;
  -moz-box-shadow: #66aaff 0 1px 2px inset, #efeff4 2px 0;
  -webkit-box-shadow: #66aaff 0 1px 2px inset, #efeff4 2px 0;
  -o-box-shadow: #66aaff 0 1px 2px inset, #efeff4 2px 0;
  box-shadow: #66aaff 0 1px 2px inset, #efeff4 2px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 -1px #303237;
  border: solid 3px #303237;
  color: #efeff4 !important;
  font-weight: bold;
  background: #4269a7;
}
/* line 409, ../src/main.sass */
input[type=submit]:hover, .bluebutton:hover {
  color: #efeff4;
  text-shadow: 0 0 1px #005588;
  cursor: pointer;
  background: #537ab8;
}
